DATABASE_PATH=$(shell pwd)

IMAGE_NAME=database-migration
NETWORK_NAME=tds-database_tds-local-vnet

DB_USER=admin
DB_PASS=1234
DB_NAME=tdsDb

PSQL_SERVER=host.docker.internal

PSQL_CONN=postgresql://${DB_USER}:${DB_PASS}@${PSQL_SERVER}:5432/${DB_NAME}?sslmode=disable